@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes slide {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

.infinite-slide {
  animation: slide 2s infinite;
}

.smooth-animation {
  //animation: slide 0.5s ease-in-out infinite;
  transform: translate3d(0, 0, 0);
  animation: slide 3s ease-in-out infinite;
}

.tab-bordered{
    border-color:blue !important;
}

@layer components{
    .size-selector input:checked + label{
        @apply bg-primary text-white;
    }

    .color-selector input:checked + label{
        @apply ring-2 ring-primary;
    }

    .input-box {
        @apply w-full  border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400
    }
    .input-range input[type=range]::-webkit-slider-thumb{
    @apply bg-custom !important
    }
}

   